html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#game-container {
    width: 500px;
    height: 500px;
    background: black;
    position: relative;
    margin: auto;
}

.block {
    width: 48px;
    height: 48px;
    background: green;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    position: absolute;
}